div,p,h1,h2,img,ul,li,figure,table,form{margin: 0; padding: 0; }

body {background: #EEF;}
div#header {background: #000; width: 100%; min-width:;height: 76px;min-width: 48em;}
div#header a {text-decoration: none; }
div#header a img{display: block; float: left;}
div#header ul#nav {list-style: none;float: right;}
div#header ul#nav li {float: left;line-height:76px;width: 6.5em;}
div#header ul#nav li a{display:block;text-decoration: none;color: #FFF;}
div#header ul#nav li a:hover{text-decoration: underline;color: #EEF;}
 